/* Search Page Related */
.content {
    display: flex;
    flex-direction: row;  /* Aligns children (filterSection and searchResults) horizontally */
    height: 100vh;  /* Optional: Makes the container take full viewport height */
}

#filterSection {
    width: 20%;  /* Sidebar takes up 20% of the horizontal space */
    background-color: #f8f9fa;
    padding: 20px;
    height: 100%;  /* Makes it take full height of the .content div */
    overflow-y: auto;  /* Adds scroll to sidebar if content overflows */
}

#filterSection form {
    display: flex;
    flex-direction: column; /* Stack form groups vertically */
    gap: 10px; /* Space between form groups */
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group.horizontal {
    flex-direction: row;
    gap: 10px; /* Space between horizontal form elements */
}

.form-group label,
.form-group input,
.form-group select,
.form-group button {
    width: 100%; /* Ensures that controls take up the full width of the form-group */
    margin-bottom: 5px; /* Space between label and input or select */
}

.button-container {
    margin-top: 10px;
}

button[type="submit"] {
    width: auto; /* Adjust if you want the button width to be different */
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Suggestions panel styles */
#suggestionsPanel {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    z-index: 1000; /* Ensure the panel is above other content */
    /* Additional styles for suggestions panel if necessary */
}

#suggestionsPanel div {
    padding: 10px;
    cursor: pointer;
}

#suggestionsPanel div:hover {
    background-color: #f0f0f0; /* Highlight suggestion on hover */
}

/* Ensure text inside suggestionsPanel is visible */
#suggestionsPanel div {
    color: black; /* Change text color */
}

/* Search Results styles */
#searchResults {
    width: 80%;  /* Main content area takes up the remaining 80% of the space */
    padding: 20px;
    overflow-y: auto;  /* Adds scroll to main content area if content overflows */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Rest of the page styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Main navigation bar styles */

nav img {
    height: 40px; /* Adjust height as needed */
}

nav p {
    margin: 0;
}


nav input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 5px;
}

/* Rest of the page styles */
h2 {
    margin-top: 20px;
    text-align: center;
}

/* Additional page-wide styles as necessary */
