/* Chat Bot Related */
#chatbotTrigger {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 100;
}

#chatbotTrigger:hover {
    background-color: #0056b3;
}

/*////////////////////*/

/* Search Page Related*/
#suggestionsPanel {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    z-index: 1000; /* Ensure the panel is above other content */
}

#suggestionsPanel div {
    padding: 10px;
    cursor: pointer;
}

#suggestionsPanel div:hover {
    background-color: #f0f0f0; /* Highlight suggestion on hover */
}

/* Ensure text inside suggestionsPanel is visible */
#suggestionsPanel div {
    color: black; /* Change text color */
}
/*///////////////////////////////*/


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    height: 40px; /* Adjust height as needed */
}

nav p {
    margin: 0;
}

nav form {
    display: flex;
}

nav input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 5px;
}

nav button[type="submit"] {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

h2 {
    margin-top: 20px;
    text-align: center;
}

#searchResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
